<div>
<div class="page-header">    
	<h1>Delinquent process instances (with User Tasks created more than 3 days ago)</h1>
</div>
<div>
<table class="table table-bordered table-hover table-condensed">
  <thead>
    <th>Oldest User Task created at</th>
    <th>Process Instance</th>
    <th>Process Definition</th>
  </thead>
  <tbody>
    <tr ng-repeat="processInstance in delinquentProcessInstances">
      <td>
          {{ processInstance.startTime }}
      </td>
      <td>
        <a href="#/process-instance/{{ processInstance.id }}">
          {{ processInstance.id | shorten:8 }}          
        </a>
      </td>
      <td>
        <a href="#/process-definition/{{ processInstance.processDefinitionId }}">
          {{ processInstance.processDefinitionName }}
        </a>
      </td>
    </tr>

    <tr ng-if="!delinquentProcessInstances">
      <td colspan="3">
        <i class="icon-loading"></i> loading process instances...
      </td>
    </tr>

    <tr ng-if="delinquentProcessInstances && !delinquentProcessInstances.length">
      <td  colspan="3">
        No process instances
      </td>
    </tr>

  </tbody>
</table>
</div>
