<module xmlns="urn:jboss:module:1.0" name="org.camunda.bpm.camunda-engine-remote-command-executor">
  <resources>
    <resource-root path="remote-command-executor-client-0.0.1-SNAPSHOT.jar" />
  </resources>

  <dependencies>

    <module name="javax.api" />
    <module name="org.camunda.bpm.camunda-engine" />
    <module name="org.camunda.bpm.camunda-engine-remote-command-executor-service-client" />
<!--    <module name="org.jboss.ejb-client" />-->

  </dependencies>
</module>
