<div>
<form class="form-inline" role="form">
<div class="form-group">
<label class="sr-only" for="schutztitelnummer"><b>Schutztitel-/Gesuchsnummer</b></label>
<input type="string" class="form-control" id="schutztitelnummer"
	               ng-model="search.titleNumber" 
	               ng-change="changeModel()">
<!-- schreibt das Label in das Eingabefeld bei letzter bootstrap version
Kombination aus class="sr-only" im label-tag und 
placeholder="Schutztitel-/Gesuchsnummer" im input-Tag -->	               
<button class="btn btn-default" ng-click="search()">Suchen</button>
</div>
</form>
<div>
<table class="table table-bordered table-hover table-condensed">
  <thead>
    <th>Process Instance</th>
    <th>Process Name</th>
    <th>Start Time</th>
    <th>Incident State</th>
    <th>Run State</th>
    <th>Activity</th>
    <th>Assignee</th>
    <th>Application</th>
  </thead>
  <tbody>
    <tr ng-repeat="businessdata in businessdatas">
      <td>
        <a href="#/process-instance/{{ businessdata.processInstanceId }}">
          {{businessdata.processInstanceId | shorten:8}}
        </a>
      </td>
  	  <td>
  	    <a href="#/process-definition/{{ businessdata.processDefinitionId }}">
  	      {{businessdata.processName}}
  	    </a>
  	  </td>
  	  <td>{{businessdata.startTime}}</td>
  	  <td>
  	    <div class="circle circle-green" incidents="{{businessdata.incState}}" state-circle=""></div>
      </td>
      <td>{{businessdata.runState}}</td>
  	  <td>{{businessdata.activity}}</td>
  	  <td>{{businessdata.assignee}}</td>
      <td>{{businessdata.component}}</td>
    </tr>
    <tr ng-if="!businessdatas">
      <td colspan="8"><i class="icon-loading"></i> loading process instances...</td>
    </tr>
    <tr ng-if="businessdatas && !businessdatas.length">
      <td colspan="8">
        No process instances
      </td>
    </tr>
  </tbody>
</table>
</div>
</div>