<module xmlns="urn:jboss:module:1.0" name="org.camunda.bpm.camunda-engine-remote-command-executor-service-client">
  <resources>
    <resource-root path="remote-command-executor-service-0.0.1-SNAPSHOT-client.jar" />
  </resources>

  <dependencies>
    <module name="javax.api" />
    <module name="org.camunda.bpm.camunda-engine" />
  </dependencies>
</module>
