<form role="form">
  <script cam-script type="text/form-script">

    <!-- create Java Object, see https://github.com/camunda/camunda-bpm-examples/tree/master/usertask/task-form-embedded-serialized-java-object#creating-a-java-object-variable-in-a-start-form -->
    // angular form works on scope object
    var vacationRequest = $scope.vacationRequest = {};

    // hook into camunda SDK JS Form Lifecycle
    camForm.on('form-loaded', function() {

      // declare variable 'vacationRequest' incuding metadata for serialization
      camForm.variableManager.createVariable({
        name: 'vacationRequest',
        type: 'Object',
        value: vacationRequest,
        valueInfo: {
          // indicate that object is serialized as json
          serializationDataFormat: 'application/json',
          // provide classname of java object
          objectTypeName: 'com.camunda.demo.webinar.tasklist.VacationRequest'
        }
      });

    });

    <!-- date picker, see http://docs.camunda.org/latest/api-references/embedded-forms/#supported-html-controls-date-inputs -->
    $scope.open = function($event) {
      $event.preventDefault();
      $event.stopPropagation();

      $scope.dateFieldOpened = true;
    };
  </script>  

  <!-- THE HTML FORM STARTS NOW -->

  <div class="control-group">
    <label class="control-label">Name</label>
    <div class="controls">
      <input class="form-control"
             type="text"
             required 
             ng-model="vacationRequest.name">
    </div>
  </div>

  <div class="control-group">
    <label class="control-label">Starting from</label>
    <div class="controls">
		<p class="input-group">
		
		  <input type="text"
		       ng-model="vacationRequest.startDate"
		       class="form-control"
		       required
		       datepicker-popup="yyyy-MM-dd'T'HH:mm:ss"
		       is-open="dateFieldOpened" />
		
		  <span class="input-group-btn">
		    <button type="button"
		            class="btn btn-default"
		            ng-click="open($event)">
		      <i class="glyphicon glyphicon-calendar"></i>
		    </button>
		  </span>
		</p>    
    </div>
  </div>

  <div class="control-group">
    <label class="control-label">Duration</label>
    <div class="controls">
      <input class="form-control"
             type="text"
             required 
             ng-model="vacationRequest.duration">
    </div>
  </div>

</form>