# folder for order XML files
folder.orders=D:/camundaBPM/src/camunda-outer-space-demos/bank-account-opening-mule/fs/orders

# folder for postident PDF files
folder.postident=D:/camundaBPM/src/camunda-outer-space-demos/bank-account-opening-mule/fs/postident

# working folder
folder.work=D:/camundaBPM/src/camunda-outer-space-demos/bank-account-opening-mule/fs/work

# folder for processed files
folder.backup=D:/camundaBPM/src/camunda-outer-space-demos/bank-account-opening-mule/fs/done