#stickyHelperButtonContainer {
	height: 6%;
	width: 100%;
}

#stickyHelperContainer {
	width: inherit;
}

#stickyHelper {
	width: 100%;
}

#stickyHelperRow {
	margin: auto;
}

.greenDiv {
	border-top-left-radius: 10px;
}

.redDiv {
	border-top-right-radius: 10px;
}

#demoTextWrapper  {
	color: white;
	background: black;
	width: 4%;
	margin: 0 auto;
	line-height: 3;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}

.buttonContainer{}

.overlay-box {
	bottom: 40%;
	position: fixed;
	border: 2px solid red;
	left: 25%;
	width: 50%;
	_position: absolute;
	_top: expression(eval(document.documentElement.scrollTop+
			(document.documentElement.clientHeight-this.offsetHeight)));
	height: 20%;
}

.stickyHelper {
    bottom: 0;
    position: fixed;
    z-index: 150;
    _position: absolute;
    _top:expression(eval(document.documentElement.scrollTop+
        (document.documentElement.clientHeight-this.offsetHeight)));
    height: 9%;
		padding-top: 1em;
}

.autofillButton {
	width: 100%;
	height: 90%;
	color: rgba(0, 0, 0, 0);
	border-radius: 10px;
	background: rgba(216, 189, 189, 0.99);
}

.autofillButton:focus {
	outline:0;
}
