<div>
<div class="page-header">    
	<h1>Recently started process instances</h1>
</div>
<div>
<table class="table table-bordered table-hover table-condensed">
  <thead>
    <th>Start Time</th>
    <th>Process Instance</th>
    <th>Process Definition</th>
  </thead>
  <tbody>
    <tr ng-repeat="processInstance in recentProcessInstances">
      <td>
          {{ processInstance.startTime }}
      </td>
      <td>
        <a href="#/process-instance/{{ processInstance.id }}">
          {{ processInstance.id | shorten:8 }}          
        </a>
      </td>
      <td>
        <a href="#/process-definition/{{ processInstance.processDefinitionId }}">
          {{ processInstance.processDefinitionName }}
        </a>
      </td>
    </tr>

    <tr ng-if="!recentProcessInstances">
      <td colspan="3">
        <i class="icon-loading"></i> loading process instances...
      </td>
    </tr>

    <tr ng-if="recentProcessInstances && !recentProcessInstances.length">
      <td  colspan="3">
        No process instances
      </td>
    </tr>

  </tbody>
</table>
</div>