.colorpicker-container {
  position:absolute;
  bottom: 75px;
  right: 17px;
  width: 210px;
  height: 200px;
  background: black;
}
.Scp {
  width: 175px;
  height: 150px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
}
.Scp-saturation {
  position: relative;
  width: calc(100% - 25px);
  height: 100%;
  background: linear-gradient(to right, #fff 0%, #f00 100%);
  float: left;
  margin-right: 5px;
}
.Scp-brightness {
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #000 0%, rgba(255,255,255,0) 100%);
}
.Scp-sbSelector {
  border: 2px solid;
  border-color: #fff;
  position: absolute;
  width: 14px;
  height: 14px;
  background: #fff;
  border-radius: 10px;
  top: -7px;
  left: -7px;
  box-sizing: border-box;
  z-index: 10;
}
.Scp-hue {
  width: 10px;
  height: 100%;
  position: relative;
  float: left;
  background: linear-gradient(to bottom, #f00 0%, #f0f 17%, #00f 34%, #0ff 50%, #0f0 67%, #ff0 84%, #f00 100%);
}
.Scp-hSelector {
  position: absolute;
  background: #fff;
  border-bottom: 1px solid #000;
  right: -3px;
  width: 10px;
  height: 2px;
}
