<div class="container">
  <div [hidden]="submitted">
    <h1>Approve Task</h1>
    <form (ngSubmit)="onSubmit()" (ngModelChange)="changedExtraHandler($event)" #approveDataTask="ngForm" class="ui form">
      <div class="field">
        <label for="firstName">First Name</label>
        <input type="text" id="firstName"
               required
               [(ngModel)]="model.firstName" name="firstName"
               #name="ngModel">
      </div>

      <div class="field">
        <label for="lastName">Last Name</label>
        <input type="text" id="lastName"
               [(ngModel)]="model.lastName" name="lastName" #name="ngModel">
      </div>

      <div class="field">
        <label for="approved">Approve?</label>
        <input type="checkbox" id="approved"
               [(ngModel)]="model.approved" name="approved" #name="ngModel">
      </div>

      <div class="field">
        <button type="submit" class="ui button" [disabled]="!approveDataTask.form.valid">Complete</button>
      </div>
    </form>
  </div>
  <div [hidden]="!submitted">
    <p>Task completed.</p>
  </div>
</div>
