html {
	width: 100%;
	height: 100%;
}

body {
	font-family: sans-serif, Verdana;
	font-size: 0.9em;
}

a { 
	text-decoration: none;
	color: #039;
}

a:hover {
	text-decoration: underline;
	color: #AC0313;
}

/* Validation */
table tbody tr td span.invalid {
	color: red;
}

/* data table layout */

table.datatable
{
	font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
	font-size: 12px;
	width: 480px;
	text-align: left;
	border-collapse: collapse;
}
table.datatable th
{
	font-size: 13px;
	font-weight: normal;
	padding: 8px;
	background: #b9c9fe url('../../table-images/gradhead.png') repeat-x;
	border-top: 2px solid #d3ddff;
	border-bottom: 1px solid #fff;
	color: #039;
}
table.datatable td
{
	padding: 8px; 
	border-bottom: 1px solid #fff;
	color: #669;
	border-top: 1px solid #fff;
	background: #e8edff url('../../table-images/gradback.png') repeat-x;
}
table.datatable tfoot tr td
{
	background: #e8edff;
	font-size: 12px;
	color: #99c;
}
table.datatable tbody tr:hover td
{
	background: #d0dafd url('../../table-images/gradhover.png') repeat-x;
	color: #339;
}

/* Pagination */
.pagination {
		
	
}

.pagination-left {
	float: left;
	width: 10%;
}

.pagination-center {
	float: left;
	text-align: center;
	width: 80%;
}

.pagination-right {
	float: right;
	text-align: right;
	width: 10%;
}

.marketing h1 {
    margin: 36px 0 27px;
    font-weight: 300;
    font-size: 40px;
    text-align: center;
}

.marketing h2 {
    background-color: transparent;
    color: #333;
    font-size: 22px;
    font-weight: 300;
    height: 36px;
    line-height: 36px;
    width: 370px;
}

.marketing p {
    margin-right: 10px;
    -ms-word-break: break-all;
    word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

.marketing-byline {
    margin: -18px 0 27px;
    font-size: 18px;
    font-weight: 300;
    line-height: 24px;
    color: #999;
    text-align: center;
}