<form role="form"> 
 <script cam-script type="text/form-script">
    camForm.on('form-loaded', function() {
      camForm.variableManager.fetchVariable('neuantrag');
      camForm.variableManager.fetchVariable('risks');
    });

    camForm.on('variables-fetched', function() {
      // after the variables are fetched, bind the value of vacationRequest to a angular
      // scope value such that the form can work on it
      $scope.neuantrag = camForm.variableManager.variable('neuantrag').value;
      $scope.risks = camForm.variableManager.variable('risks').value;
    });
  </script>
 

	 <div class="row">
         <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <h2>Antragsdaten</h2>
            <table class="table table-striped">
               <tr>
                  <td>Antragssteller</td>
                  <td>{{neuantrag.antragssteller.name}}</td>
               </tr>
               <tr>
                  <td>Geburtsdatum</td>
                  <td>{{neuantrag.antragssteller.geburtsdatum}}</td>
               </tr>
               <tr>
                  <td>Aktuelles Alter</td>
                  <td>{{neuantrag.antragssteller.alter}}</td>
               </tr>               
               <tr>
                  <td>Fahrzeug</td>
                  <td>{{neuantrag.fahrzeugHersteller}} {{neuantrag.fahrzeugTyp}}</td>
               </tr>
               <tr>
                  <td>Versicherungsprodukt</td>
                  <td>{{neuantrag.versicherungsprodukt}}</td>
               </tr>               
               <tr>
                  <td>Preisindikation</td>
                  <td>{{neuantrag.preisindikation}}</td>
               </tr>               
            </table>
            
            <h2>Risiken</h2>
            Folgende Risiken haben zur Aussteuerung geführt:
   		    <table class="table table-striped table-hover">
			  <tr ng-repeat="risk in risks">
			  	<td>{{risk}}</td>
			  </tr>
			</table>
						
            <h2>Beurteilung(en)</h2>
            <textarea class="form-control" 
       				cam-variable-name="beurteilung"
       			    cam-variable-type="String" />	
			
            <h2>Entscheidung</h2>
            Antrag annehmen: 
            <input type="checkbox"
       				cam-variable-name="approved"
       			    cam-variable-type="Boolean" />
         </div>
         <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">

		      <h2>Laufende Aktivitäten</h2>
			  <table class="table table-striped table-hover">
					  <tr ng-if="execution.activityType!='subProcess'" ng-repeat="execution in activeExecutions" >
					    <td>			    
					    	<i class="glyphicon glyphicon-user" ng-if="execution.activityType=='userTask'"></i>
					    	<i class="glyphicon glyphicon-cog" ng-if="execution.activityType=='callActivity'"></i>
					    </td>
					    <td>
					    	{{execution.activityName}}
					    </td>	  
					  </tr>
			  </table>


			  <h2>Aktivität starten</h2>
			  <div class="row">
			      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">			 
					  <div class="form-group"> 			  
					  	<label>Mitzugebene Hinweise:</label>
					  	<textarea id="textareaHinweise" rows="5" class="form-control"></textarea>
					  </div>
				  </div>
				  <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
						  			  
					  <table class="table table-striped table-hover">
					    <tr>
						    <td>
						    	<i class="glyphicon glyphicon-user"></i>
						    </td>
						    <td>
						    	Beurteilung durch Underwriter notwendig
						    </td>	  
						    <td>
						        <a ng-click="sendMessage('MSG_UnderwriterNotwendig')"><i class="glyphicon glyphicon-play"></i></a>
						    </td>
						  </tr>
					    <tr>
						    <td>
						    	<i class="glyphicon glyphicon-user"></i>
						    </td>
						    <td>
						    	Beurteilung durch Gruppenleiter notwendig
						    </td>	  
						    <td>
						        <a ng-click="sendMessage('MSG_GruppenleiterNotwendig')"><i class="glyphicon glyphicon-play"></i></a>
						    </td>
						  </tr>
					    <tr>
						    <td>
						    	<i class="glyphicon glyphicon-cog"></i>
						    </td>
						    <td>
						    	Dokumente anfordern
						    </td>	  
						    <td>
						        <a ng-click="sendMessage('MSG_DokumenteNotwendig')"><i class="glyphicon glyphicon-play"></i></a>
						    </td>
						  </tr>
					  </table>
					</div>
				<div>
			  			  
         </div>
     </div>
 
 <script cam-script type="text/form-script">
  // get the angular-data-depend service 'taskData'
  var getTaskData = function(scope) {
    if (scope.taskData) {
      return scope.taskData;
    }  
    return scope.$parent && getTaskData(scope.$parent);
  };
  $scope.taskData = getTaskData($scope);

 
	 function loadCaseStatus() {
  	   $.get( '/camunda/api/engine/engine/default/task/' + camForm.taskId, function( task ) {
	  	   $.get( '/camunda/api/engine/engine/default/history/activity-instance?processInstanceId=' + task.processInstanceId + '&unfinished=true', function( result2 ) {
	         $scope.$apply(function () {
	            $scope.activeExecutions = result2;
	            console.log(result2);
	         });
		   });	 
	   }); 	
	 };
	 
	 loadCaseStatus();  	     
	 
	 $scope.sendMessage = function(messageName) {
	       var data = {
	            "messageName" : messageName,
	       		"businessKey" : $scope.neuantrag.antragsNummer,
	            "processVariables": { 
	       			"hinweise": {
	       				"value":  $('#textareaHinweise').val(), 
	       				"type": "String"
	       			}
	       	    }, 
	       	    "deletions" : []
	       };
	       $('#textareaHinweise').val("");
	       	   
		   $.ajax('/camunda/api/engine/engine/default/message/', {
		         data: JSON.stringify(data),
		         contentType : 'application/json',
		         type : 'POST',
		         success: function (result) {
		            loadCaseStatus();
		            
		            // reload task
					$scope.taskData.changed('task');

					// hardocore reload :-)
		            //window.location.reload();
		         }
		    });
	 };
	 

  </script>

<!--
Todo: add toggle for nice UI (http://www.bootstraptoggle.com/#usage)
Need to load from PA here - how to do that?
 <script src="bootstrap-toggle.min.js"></script>
 <link href="bootstrap-toggle.min.css" rel="stylesheet">
 -->
</form>