<h2>Claim for assignment</h2>

<form class="form-horizontal">

<script cam-script type="text/form-script">
  var claim = {
    type: 'Unfall KFZ',
    expenditure: 0,
    region: ''
  };
  $scope.claim = claim;
  camForm.on('form-loaded', function() {
    camForm.variableManager.createVariable({
       name: 'claim',
       type: 'Object',
       value: claim,
       valueInfo: {
         serializationDataFormat: 'application/json',
         objectTypeName: 'com.camunda.demo.dmntraining.taskrouting.Claim'
      }
    });
  });
</script>

  <div class="control-group">
    <label class="control-label">Schadensart</label>
    <div class="controls">
		<select name="type" ng-model="claim.type" required class="form-control" >
      		<option value="Unfall KFZ">Unfall KFZ</option>
      		<option value="Haftpflicht">Haftpflicht</option>
		</select>    
    </div>
  </div>


  <div class="control-group">
    <label class="control-label">Schadenshöhe (geschätzt)</label>
    <div class="controls">
		<input id="firstname"
             class="form-control"
             type="text"
             required 
             ng-model="claim.expenditure">   
    </div>
  </div>

  <div class="control-group">
    <label class="control-label">Region (z.B. 10xxx = Berlin)</label>
    <div class="controls">
		<input id="region"
             class="form-control"
             type="text"
             required 
             ng-model="claim.region">   
    </div>
  </div>
  
  <h2>Mitarbeiter</h2>
  
  Die folgenden beispielhaften Mitarbeiter können den Schadensfall bearbeiten:
  
  <table class="table table-striped">
		<thead>
  			<tr>
     			<th>Mitarbeiter</th>
     			<th>Erfahrung</th>
     			<th>Region</th>
     			<th>Anzahl offener Schadensfälle</th>
  			</tr>
 		</thead>
 	   <tr>
    		<td>john</td>
    		<td>Senior</td>
    		<td>10xxx</td>
	    	<td>5</td>
  		</tr>
 	   <tr>
    		<td>mary</td>
    		<td>Experte</td>
    		<td>22xxx</td>
	    	<td>2</td>
  		</tr>
 	   <tr>
    		<td>peter</td>
    		<td>Junior</td>
    		<td>10xxx</td>
	    	<td>7</td>
  		</tr>
  </table>
  

</form>