
.cmmn-icon-bpmn-io:before { content: '\e800'; } /* '' */
.cmmn-icon-screw-wrench:before { content: '\e801'; } /* '' */
.cmmn-icon-trash:before { content: '\e802'; } /* '' */
.cmmn-icon-lasso-tool:before { content: '\e803'; } /* '' */
.cmmn-icon-space-tool:before { content: '\e804'; } /* '' */
.cmmn-icon-hand-tool:before { content: '\e805'; } /* '' */
.cmmn-icon-case-plan-model:before { content: '\e806'; } /* '' */
.cmmn-icon-stage-expanded:before { content: '\e807'; } /* '' */
.cmmn-icon-milestone:before { content: '\e808'; } /* '' */
.cmmn-icon-text-annotation:before { content: '\e809'; } /* '' */
.cmmn-icon-task:before { content: '\e80a'; } /* '' */
.cmmn-icon-case-task:before { content: '\e80b'; } /* '' */
.cmmn-icon-case-task-discretionary:before { content: '\e80c'; } /* '' */
.cmmn-icon-decision-task:before { content: '\e80d'; } /* '' */
.cmmn-icon-decision-task-discretionary:before { content: '\e80e'; } /* '' */
.cmmn-icon-human-blocking-task:before { content: '\e80f'; } /* '' */
.cmmn-icon-human-blocking-task-discretionary:before { content: '\e810'; } /* '' */
.cmmn-icon-human-non-blocking-task:before { content: '\e811'; } /* '' */
.cmmn-icon-human-non-blocking-task-discretionary:before { content: '\e812'; } /* '' */
.cmmn-icon-process-task:before { content: '\e813'; } /* '' */
.cmmn-icon-process-task-discretionary:before { content: '\e814'; } /* '' */
.cmmn-icon-task-discretionary:before { content: '\e815'; } /* '' */
.cmmn-icon-task-none:before { content: '\e816'; } /* '' */
.cmmn-icon-entry-criterion:before { content: '\e817'; } /* '' */
.cmmn-icon-exit-criterion:before { content: '\e818'; } /* '' */
.cmmn-icon-case-file-item:before { content: '\e819'; } /* '' */
.cmmn-icon-connection:before { content: '\e81a'; } /* '' */
.cmmn-icon-event-listener:before { content: '\e81b'; } /* '' */
.cmmn-icon-timer-event-listener:before { content: '\e81c'; } /* '' */
.cmmn-icon-user-event-listener:before { content: '\e81d'; } /* '' */
.cmmn-icon-auto-complete-marker:before { content: '\e81e'; } /* '' */
.cmmn-icon-manual-activation-marker:before { content: '\e81f'; } /* '' */
.cmmn-icon-repetition-marker:before { content: '\e820'; } /* '' */
.cmmn-icon-blocking:before { content: '\e821'; } /* '' */
.cmmn-icon-required-marker:before { content: '\e822'; } /* '' */
.cmmn-icon-plan-fragment-collapsed-discretionary:before { content: '\e823'; } /* '' */
.cmmn-icon-plan-fragment-expanded-discretionary:before { content: '\e824'; } /* '' */
.cmmn-icon-stage-collapsed:before { content: '\e825'; } /* '' */
.cmmn-icon-stage-collapsed-discretionary:before { content: '\e826'; } /* '' */
.cmmn-icon-stage-expanded-discretionary:before { content: '\e827'; } /* '' */